

#root {
  margin: 0;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.mainPage{
  width: 100%;
  justify-self: center;
  min-height: 100vh;
  position: relative;
}

.searchBtn{
  height: 75px;
  width: 75px;
  border: white solid 2px;
  background-color: black;
  border-radius: 50%;
  position: fixed;
  z-index: 5;
  top: 15vh;
  right: 20px;
  cursor: pointer;
  transition: 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  color: antiquewhite;
  
}

.searchBtn:hover{
  background-color: white;
  color: black;
}
.searchBtn.active{
  background-color: white;
  color: black;
}

.searchBtn *{
  font-size: 1.5em;
}
.inputSearch{
  z-index: 5;
  top: 15vh;
  right: 20px;
  position: fixed;
  transform: translate(-40%) scaleX(0);
  height: 70px;
  width: 300px;
  border-radius: 50px;
  transition: 0.3s ease;
  border: none;
  background-color: black;
  color: rgb(255, 255, 255);
  border: solid white 2px;
  font-size: 2em;
  text-align: center;
}

.inputSearch.active{
  transform: translate(-40%) scaleX(1);

}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.allChampion{
  margin: auto;
  padding-top: 200px;
  padding-bottom: 150px;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}